.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .leyend {
    width: 10.2em;
    background-color: white;
    border: 0.1em solid #ccc;
    border-radius: 9px;
    padding: 0.5em;
    z-index: 1000;
    position: absolute;
    right: 1.5em;
    top: 1.5em;

    .leyend-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .cube {
        width: 0.5em;
        height: 0.5em;
        margin-right: 0.5em;
      }
    }
  }

  .selector-min{
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 500;
    top: 2em;
    left: 0.5em;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    background-color: white;
    padding: 0.15em 0.25em;
    border-radius: 4px;
    color: gray;
    cursor: pointer;
  }

  .selector-max{
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 500;
    top: 0.5em;
    width: 1.5em;
    height: 1.5em;
    left: 0.5em;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    background-color: white;
    padding: 0.15em 0.25em;
    border-radius: 4px;
    color: gray;
    cursor: pointer;
  }
}
