<div class="map-container" id="map">
  <div (click)="setDistance(1)" class="selector-max">+</div>
  <div (click)="setDistance(0)" class="selector-min">-</div>
  <div class="leyend">
    <div class="leyend-item" *ngFor="let item of leyenda | keyvalue">
      <div class="cube" [style.backgroundColor]="item.value.color"></div>
      <div style="margin-right: 0.5em">{{ item.key }}:</div>
      <div class="text-primary">{{ item.value.value }}</div>
    </div>
  </div>
</div>
