.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .map-selector{
    position: absolute;
    z-index: 500;
    top: 0.6em;
    left: 3em;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    background-color: white;
    padding: 0.15em 0.25em;
    border-radius: 4px;
    cursor: pointer;
  }

  .leyend {
    width: 10.2em;
    background-color: white;
    border: 0.1em solid #ccc;
    border-radius: 9px;
    padding: 0.5em;
    z-index: 1000;
    position: absolute;
    right: 1.5em;
    top: 1.5em;

    .leyend-item{
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .cube{
        width: 0.5em;
        height: 0.5em;
        margin-right: 0.5em;
      }
    }
  }
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 9999;
}

.dataModal{
  position: absolute;
  top: calc(50% - 40%);
  left: calc(50% - 40%);
  background-color: white;
  width: 80%;
  height: 80%;
  z-index: 99999;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .modal-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding: 0.5em 1em 0 1em;
    font-weight: bold;
  }

  .close-modal{
    position: absolute;
    width: 1em;
    height: 1em;
    right: 0.75em;
    top: 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    i{
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  .tableContainer{
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 2em;
    overflow-y: auto;

    table{
      width: 100%;
      height: 100%;
      font-size: 0.9em;
    }
  }
}
