<div class="map-container">
  <div (click)="toogleMapTiles()" class="map-selector">Map</div>
  <div class="leyend">
    <div class="leyend-item" *ngFor="let item of leyenda | keyvalue">
      <div class="cube" [style.backgroundColor]="item.value.color"></div>
      <div style="margin-right: 0.5em;">{{item.key}}:</div>
      <div class="text-primary">{{item.value.value}}</div>
    </div>
  </div>
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>

<div *ngIf="selectedProvince && selectedData.length != 0" class="overlay" (click)="closeModalAndResetData()"></div>

<div *ngIf="selectedProvince && selectedData.length != 0" class="dataModal">
  <div class="close-modal" (click)="closeModalAndResetData()">
    <i class="fa fa-times"></i>
  </div>
  <div class="modal-title text-primary">Datos de la provincia de {{selectedProvince}}
  </div>
  <div class="tableContainer">
    <table id="table" class="table-striped table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Localidad</th>
          <th>Dirección</th>
          <th>Cód Postal</th>
          <th>Fecha fundación</th>
          <th>Fecha inscripción</th>
          <!-- <th>deportes</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let club of selectedData">
          <td>{{ club.nombre }}</td>
          <td>{{ club.localidad }}</td>
          <td>{{ club.domicilio }}</td>
          <td>{{ club.cod_postal }}</td>
          <td>{{ club.f_fundacion }}</td>
          <td>{{ club.f_inscripcion }}</td>
          <!-- <td>{{ club.deportes }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
