<div class="container-fluid">
  <div class="row header">
    <div
      class="navbar bg-primary d-flex justify-content-center align-items-center">
      <div class="menu" (click)="toogleSidebar()">
        <i class="fas fa-bars"></i>
      </div>
      <h1 class="title">Clubes deportivos CyL</h1>
    </div>
  </div>
  <div class="row main-content">
    <div class="col-md-auto sidebar notVisible">
      <div class="item">
        <label class="text-primary">Fecha de fundación</label>
        <div class="dates">
          <div class="inputDate">
            Desde
            <input type="date" [(ngModel)]="filter.fFundacion.desde" />
          </div>
          <div class="inputDate">
            Hasta
            <input type="date" [(ngModel)]="filter.fFundacion.hasta" />
          </div>
        </div>
      </div>
      <div class="item">
        <label class="text-primary">Fecha de inscripción</label>
        <div class="dates">
          <div class="inputDate">
            Desde
            <input type="date" [(ngModel)]="filter.fInscripcion.desde" />
          </div>
          <div class="inputDate">
            Hasta
            <input type="date" [(ngModel)]="filter.fInscripcion.hasta" />
          </div>
        </div>
      </div>
      <div class="item">
        <label class="text-primary">Deportes</label>
        <select id="select2Deportes" name="deportes[]" multiple="multiple">
          <option [value]="deporte" *ngFor="let deporte of deportes">
            {{ deporte }}
          </option>
        </select>
      </div>
      <div class="white-space"></div>
      <button class="btn btn-primary filter-bottom" (click)="filterData()">
        Filtrar
      </button>
    </div>
    <div class="col main-container">
      <div class="selector3D" *ngIf="loaded">
        <div (click)="tresD = false" [ngClass]="{active: !tresD}" class="sel-3d-con active">2D</div>
        <div (click)="tresD = true" [ngClass]="{active: tresD}" class="sel-3d-con">3D</div>
      </div>
      <map3D *ngIf="loaded && tresD" [data]="data"></map3D>
      <map *ngIf="loaded && !tresD" [data]="data"></map>
      <div *ngIf="!loaded" class="gif-container">
        <div *ngIf="!loaded" class="spinner-border text-primary" role="status"></div>
      </div>
      <div class="global-data" *ngIf="loaded">
        <div class="title text-primary">Datos globales de la comunidad</div>
        <label>Número de clubes registrados:</label>
        <div *ngIf="data" class="number">{{data.length}}</div>
        <div *ngIf="!data" class="number">0</div>
      </div>
    </div>
  </div>
</div>
