.header {
  height: 4em;

  .menu {
    position: absolute;
    left: 0;
    height: 4em;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    display: none;

    i {
      font-size: 1.5em;
    }
  }

  .title {
    color: white;
    margin: 0;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 0.02em;
  }
}

.main-content {
  height: calc(100vh - 4em);

  .sidebar {
    display: flex;
    flex-direction: column;
    width: 20em;
    border-right: 0.1em solid #ccc;
    overflow-y: auto;
    background-color: white;
    height: 100%;

    .item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      text-align: left;
      padding: 1em 0.5em;

      .dates {
        width: 100%;
        background-color: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0em 1em 0.5em 1em;
        border-radius: 5px;
        border: 0.1em solid #ccc;

        .inputDate {
          width: 100%;
          margin: 0.5em 0;

          input {
            width: 100%;
          }
        }
      }

      label {
        width: 100%;
        text-align: left;
        font-size: 1.25em;
        font-weight: bold;
      }

      select {
        width: 100% !important;
        font-size: 1em;
        padding: 0.25em;

        span {
          width: 100% !important;
        }
      }
    }

    .white-space {
      flex: 1;
    }

    .filter-bottom {
      min-width: 14em;
      margin: 1.4em auto;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  .main-container {
    background-color: #eee;
    position: relative;

    .gif-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .spinner-border {
        display: inline-block;
        width: 8em;
        height: 8em;
        vertical-align: text-bottom;
        border: 1em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: 0.75s linear infinite spinner-border;
        animation: 0.75s linear infinite spinner-border;
      }
    }

    .selector3D {
      position: absolute;
      z-index: 500;
      top: 0.6em;
      left: calc(50% - 3em);
      display: flex;
      justify-content: center;
      align-items: center;

      .sel-3d-con {
        border: 2px solid rgba(0, 0, 0, 0.2);
        background-clip: padding-box;
        color: #666;
        background-color: #ccc;
        padding: 0.15em 1em;
        border-radius: 4px;
        cursor: pointer;
      }

      .active {
        background-color: red;
        color: white;
        font-weight: bold;
      }
    }

    .global-data {
      position: absolute;
      bottom: 1.5em;
      right: 1.5em;
      width: 20em;
      background-color: white;
      border: 0.1em solid #ccc;
      border-radius: 9px;
      padding: 0.5em;
      z-index: 1000;

      .title {
        font-size: 1.25em;
        font-weight: bold;
        line-height: 1em;
      }

      .number {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        font-weight: bold;
      }
    }
  }
}
