/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";
@import "~cesium/Build/Cesium/Widgets/widgets.css";

*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

@media (min-width: 576px){
  .col-sm-12 {
    height: 100%;
  }
}

body{
  overflow-x: hidden;
}

.alertify-notifier {
  position: fixed;
  width: 0;
  color: white;
  overflow: visible;
  z-index: 1982;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.select2-container{
    width: 100% !important;
}

.select2-container--open {
  z-index: 9999999 !important;
}

@media (max-width: 768px) {
  .main-content {
    .sidebar{
      z-index: 9999;
    }
    .notVisible{
        display: none !important;
    }
  }

  .header {
    .menu {
      display: flex !important;
    }
  }
}
